body {
    margin-top: 150px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.all {
    display: flex;
    width: 90%;
    margin-top: 50px;
    max-width: 1500px;
    height: 80%;
    max-height: 1500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
.ct-container{
    width: 100%;
}
.left-panel {
    background-color: #8fd792;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.left-panel .logo {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 40px;
}
.left-panel .image {
    margin-top: 50px;
}
.left-panel .image img {
    width: 80%;
    max-width: 600px;
    width: 630.49px;
    height: 673.97px;
    transform: rotate(-9.25deg);
    transform-origin: 0 0;
}
.left-panel .egg{
    position: absolute;
    top: 20px;
    left: 5px;
    width: 135px;
    height: 117px;
    left: 10px;
}
.right-panel {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.right-panel h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}
.divider {
    margin: 10px 0;
    font-size: 1em;
    color: #aaa;
    border:5px solid blue;
    position: relative;
    text-align: center;
    width: 100%;
}
.divider::before, .divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: #ddd;
}
.divider::before {
    left: 0;
}
.divider::after {
    right: 0;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 20px;
}
form input {
    padding: 10px 5px;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s;
}
form input:focus {
    border-bottom: 1px solid #8fd792;
    outline: none;
}
form button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #8fd792;
    color: white;
    cursor: pointer;
}
form button:hover {
    background-color: #79be78;
}